.container{
    width: 1200px;
    height: 30px;
    background-color: darkgrey;
    display: flex;
    justify-content: right;
    margin-right: 5%;
    border-radius: 10px;
    }

    .header{
        text-decoration: none;
        background-color: beige;
        padding: 5px;
        margin-right: 5%;
        border-radius: 5px;
        }
        
    .L1{
	border-radius: 10px;
	background-color: #c0c0c0;
	align-content: right;
	height: 20px;
	margin: 5px; 
	padding: 1px;

    }
    h1{
        font-weight: bold;
        text-align: center;
        margin-top: 40px;
    }
    p{
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
    }
    
    select{
        width: 250px;
        height: 30px;
        margin-top: 10px;
        margin-bottom: 20px;
        background-color: aqua;
        border-radius: 2px;
        text-align: center;
    }
    input{
        margin: 10px;
        padding: 10px;
        height: 10px;
        background-color: lightgreen;
        border-radius: 20px;
        text-align: left;
    }
    button{
        width: 150px;
        background-color: orange;
        border-radius: 2px;
        margin: 10px;
    }
    #inscriptionForm{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        width: 40%;
        margin-left: 30%;
    }
    #adresse1{
        height: 40px;
        border-radius: 5px;
    }
    
    
    