
body{
  display: flex;
  justify-content: center;
  margin-top: 4%;
}

#tile-container{
  width: 456px;
  height: 456px;
  display: flex;
  flex-wrap: wrap; 
}
img{
  height: 150px;
  width: 150px;
  border: 1px solid white;
}
.tile{
  height: 150px;
  width: 150px;
  background-color: silver;
  display: flex;
  justify-content: center;
	align-items: center;
  font-size: larger;
}